@{
    ViewBag.Title = "About";
   
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>


<script>

    jQuery(document).ready(function () {

        $.ajax({
            url: '/points/create',
            type: "POST",

            data: { PointName: "kstavroulakis"},

            success: function (result) {
            },
            error:function(err){
                alert(err.responseText);
            }
        })

    });
</script>