@{
    ViewBag.Title = "About";
   
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<a href='@Url.Action("authuser", "Account", new { username="terere",password="asdasdsa"})' data-form-method="post" title="asdas">testlogin</a>

<script>

    jQuery(document).ready(function () {

        $.ajax({
            url: '@Url.Action("authuser","account")',
            type: "POST",

            data: {username : "rere", password:"asdasdsa"},

            success: function (result) {
            },
            error:function(err){

            }
        })

    });
</script>