@{
    ViewBag.Title = "About";
   
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>


<script>

    jQuery(document).ready(function () {

        $.ajax({
            url: '@Url.Action("CreateUser","account")',
            type: "POST",

            data: {username : "test", password:"123456",useremail:"user@mail.gr"},

            success: function (result) {
            },
            error:function(err){

            }
        })

    });
</script>