
@using CULTMACEDONIA_v2.Helpers;


<div class="" id="map_canvas">
</div>

<div id="over_map">
    <h2>cult</h2>
    <h1>macedonia</h1>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        $.ajax({
            url: '@Url.Action("GetPoints","Points")',
            method: 'GET',
            dataType: 'json',
            success: function (data) {

                google.maps.visualRefresh = true;
                var Liverpool = new google.maps.LatLng(40.63066, 22.94555);

                var mapOptions = {
                    zoom: 14,
                    center: Liverpool,
                    mapTypeControl: true,
                    mapTypeControlOptions: {
                        style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
                    },

                    zoomControl: true,
                    zoomControlOptions: {
                        style: google.maps.ZoomControlStyle.SMALL
                    },

                    mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
                };

                var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);


                $.each(data, function (i, item) {
                    var marker = new google.maps.Marker({
                        'position': new google.maps.LatLng(item.GeoLong, item.GeoLat),
                        'map': map,
                        'title': item.PlaceName
                    });

                    marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png');

                    

                    
                   


                    
                    var infowindow = new google.maps.InfoWindow({
                        content: "<div class='infoDiv media'>"
                            + "  <a class='pull-left'><img class='media-object' style='width:50px; height:50px;' src='" +
                            item.SingleImage + "' alt=''></a><div class='media-body'><h6 class='media-heading'>" +
                            item.PlaceName + "</h5><p>" +
                            item.PlaceAddress + "<a role=\"button\" href=\"@Url.Action("view", "points")/" + item.PlaceId + "\" class=\"btn btn-success btn-xs pull-left\">@CultResources.View.ViewMonument</a></p></div>"

                    });


                    //google.maps.event.addListener(marker, 'mouseover', function () {
                    //    infowindow.open(map, marker);
                    //});

                    //google.maps.event.addListener(marker, 'mouseout', function () {
                    //    infowindow.close(map, marker);
                    //});

                  




                    google.maps.event.addListener(marker, 'click', function () {
                        infowindow.open(map, marker);
                    });

            });





                //showPointsInMap(data);
            }
        })

        
    });
    

</script>

