.lang-label {
  padding-left: 20px;
}
.langlink {
  clear: both;
  color: #333333 !important;
  font-weight: normal;
  line-height: 1.6;
  padding-top: 5px;
  white-space: nowrap;
}
.langlink:hover {
  text-decoration: none;
  color: #428BCA!important;
}
.favitem {
  text-align: justify;
  border-top: 1px solid #e2e2e2;
  margin-top: 1px;
}
.full-height span {
  height: 64px;
  vertical-align: middle;
}
form#logoutForm > a {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-top: 15px;
  line-height: 20px;
  display: block;
  text-decoration: none;
  position: relative;
}
.text-justify {
  text-align: justify;
}
.navbar-brand .one {
  font-size: 24px;
  font-weight: 700;
}
.navbar-brand .two {
  font-size: 24px;
  font-weight: 700;
}
.colorgraph {
  background: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4) repeat scroll 0 0 #c4e17f;
  border-radius: 5px;
  border-top: 0 none;
  height: 5px;
}
