@{
    ViewBag.Title = "settings";
    Layout = "~/Views/Shared/_MasterAdmin.cshtml";
}




<div class="content-header">
    <h1>
        <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
        Simple Sidebar
    </h1>


</div>
<!-- Keep all page content within the page-content inset div! -->
<div class="page-content inset">

    <ol class="breadcrumb">
        <li><a href="index.html"><i class="icon-dashboard"></i> Dashboard</a></li>
        <li class="active"><i class="icon-file-alt"></i> Blank Page</li>
    </ol>


    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success ">
                Welcome to SB Admin by <a href="http://startbootstrap.com" class="alert-link">Start Bootstrap</a>! Feel free to use this template for your admin needs! We are using a few different plugins to handle the dynamic tables and charts, so make sure you check out the necessary documentation links provided.
            </div>
            <p class="lead">This simple sidebar template has a hint of JavaScript to make the template responsive. It also includes Font Awesome icon fonts.</p>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p class="announcement-heading">456</p>
                            <p class="announcement-text">New Mentions!</p>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer announcement-bottom">
                        <div class="row">
                            <div class="col-xs-6">
                                View Mentions
                            </div>
                            <div class="col-xs-6 text-right">
                                <i class="fa fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <i class="fa fa-check fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p class="announcement-heading">12</p>
                            <p class="announcement-text">To-Do Items</p>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer announcement-bottom">
                        <div class="row">
                            <div class="col-xs-6">
                                Complete Tasks
                            </div>
                            <div class="col-xs-6 text-right">
                                <i class="fa fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p class="announcement-heading">18</p>
                            <p class="announcement-text">Crawl Errors</p>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer announcement-bottom">
                        <div class="row">
                            <div class="col-xs-6">
                                Fix Issues
                            </div>
                            <div class="col-xs-6 text-right">
                                <i class="fa fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p class="announcement-heading">56</p>
                            <p class="announcement-text">New Orders!</p>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer announcement-bottom">
                        <div class="row">
                            <div class="col-xs-6">
                                Complete Orders
                            </div>
                            <div class="col-xs-6 text-right">
                                <i class="fa fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">



            <h3>List of Products</h3>

            <table id="categories">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Lang</th>
                    <th></th>
                </tr>
                <tbody data-bind="template: { name: templateToUse, foreach: items}"></tbody>
            </table>

            <script id="category-view-tmpl" type="text/html">
                <tr>
                    <td data-bind="text: id"></td>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: lang"></td>
                    <td class="buttons">
                        <button data-bind="click: $root.editItem">Edit</button>
                        <button data-bind="click: $root.deleteItem">Delete</button>

                    </td>
                </tr>
            </script>

            <button data-bind="click:addItem">New Item</button>

            <script id="category-edit-tmpl" type="text/html">
                <tr>
                    <td data-bind="text: id"></td>
                    <td>
                        <input class="editvalue" data-bind="value: name" />
                    </td>
                    <td data-bind="text: lang"></td>
                    <td class="buttons">
                        <button data-bind="click: $root.acceptItemEdit">Accept</button>
                        <button data-bind="click: $root.cancelItemEdit">Cancel</button>
                    </td>
                </tr>
            </script>





        </div>


    </div>




</div>


@section Scripts{
    <script src="~/Scripts/knockout-3.0.0.debug.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.debug.js"></script>
    <script src="~/Scripts/ko-protectedObservable.js"></script>
    <script src="~/Scripts/ko-sysparams.js"></script>

    <script type="text/javascript">
        $(function () {

            

            // Load categories
            var _vmcategories = new cultLutViewModel();
            var _elem = $("#categories")[0];

            $.ajax({
                url: "/api/categories",
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
            }).done(function (data) {
                
                
                

                $.each(data, function (i, item) {
                    var item = new cultLut(item.name, item.id, item.lang);
                    _vmcategories.items.push(item);
                });

                
            }).error(function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            });


            ko.applyBindings(_vmcategories, _elem);


        });
    </script>


}
